@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.sky {
    position: relative;
    background-image: linear-gradient( #F3BADB, #F6D19C);
    width: 100%;
    height:90vh;
    display: flex;
    justify-content: center;
}

.sky img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#cloud-one {
    width: 20%;

}

#cloud-two {
    width: 25%;

}

#cloud-three {
    width: 30%;
}

#cloud-four {
    width: 24%;
}

#cloud-five {
    width: 23%;

}

#javascript {
    width: 5%;
    bottom: 30%;
}

#react {
    width: 5%;
    bottom: 30%;
}

#htmlcss {
    width: 5%;
    bottom: 30%;
}

#mario {
    width: 13%;
}

.about-me{
    height: 800px;
    background-color: #78D22B;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.about-me h1{
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.three-retro-box-container {
    background-image: url("../img/pinkpatternbackground.jpg");
    background-size: cover;
    width:100%;
    height:100%;
    padding-top: 250px;
    padding-bottom: 260px;
  }





