
.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;
    

}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 100px;

}

.exerciseHeaderNav {

}

.exerciseHeaderNav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 10px;
    

}

.exerciseHeaderNav ul li {
    min-width: 150px;

}


/* Main */

.exerciseMain {
    display: flex;
    margin-top: 20px;

}

.exerciseMainLeftNav {
    flex-grow: 1;
    margin-right: 10px;

}

.exerciseMainContent {
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;


}

.exerciseMainContent > * {
    margin: 0;
}

.exerciseMainContentBanner {
    flex: 100%;

}

.exerciseMainContentSubBanner {
    flex: 75%;

}

.exerciseMainContentBlock {
    flex: 25%;
}