/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    flex-wrap: wrap;
    


}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}


.exerciseHeaderNav {
    display: block;
    
}

.exerciseHeaderNav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 10px;
    
}

.exerciseHeaderNav ul li {
    min-width: 150px;

}


.exerciseMainContent {
    margin-top: 15px;

}


.exerciseAdditionalFeatures {

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}